@import url(http://fonts.googleapis.com/css?family=Montserrat: 400,700);

body {
color: pink;
margin: 0;
font-family: 'Montserrat', sans-serif;
}

#header {
background-color: teal;
height: 150px;
line-height: 150px;
}

#header a {
  color: whiteSmoke;
  text-decoration: none;

  text-transform: uppercase;
  letter-spacing: 0.1em;

}

#header a:hover {
color: pink;

}

#header-title {
display: block;
float: left;
font-size: 20px;
font-weight: bold;
}

#header-nav {
display: block;
float: right;
margin-top: 0;
}

#header-nav li {
display: inline;
padding-left: 20px;

}

.container {
max-width: 1000px;
margin: 0 auto;

}

#footer {
  background-color: black;
  padding: 50px 0;
}

.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}

#footer h4 {
  color: whiteSmoke;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#footer p {
  color: whiteSmoke;
}

a {
color: teal;
text-decoration: none;
}

a:hover {
  color: slateGray;
}

.post, .about{
max-width: 800px;
margin: 0 auto;
padding: 60px 0;
}

.about {
  text-align: c
}

.post-container:nth-child(even) {
  background-color: lime;
}
img {
  border-radius: 100px;
}
.post-author img {
  width: 50px;
  height: 50px;
  vertical-align: middle;

}

.post-author span {
  margin-left: 16px;
}

.post-date {
  color: slateGray;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1, h2, h3, h4 {
  color: black;
}

p {
  line-height: 1.5;
}
